*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   
}
.home{

    text-align: right;
    padding: 30px 50px 0 0;
}
        .home >a{
            color:#642a73;
            font-weight: 300;
            text-decoration: none;
            margin-right: 10px;
            font-size: 23px;
        }
        nav >a:hover{
            text-decoration: underline;
        }
        .container{
            margin: 0 auto;
            width: 90%;
            max-width: 1200px;
            overflow: hidden;
        }

.hero{

    background-image: url(img/fondo-hardware.jpg);
    background-size: cover;
    min-height: 500px;
    height: 100vh;
}

.menu {
    --state-close :scale(0);
    --state-hamburger:scale(1);

    padding: 40px 0;
    display:grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2,max-content);
}
.menu:target{
    --state-close :scale(1);
    --state-hamburger:scale(0);
}
.menu__hamburger, .menu__close{
    cursor:pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
}
.menu__hamburger{
    transform: var(--state-hamburger);
}
.menu__close{
    transform:var(--state-close);
}
.menu__icon{
    width: 40px;
}