
*{
    margin:0;
    padding:0;
    box-sizing: border-box;

} 	


header{
    width: 100%;
    height: 250px;
    background: url(/img/exito.gif);
    
 
   
}

.texto-header{
      
        text-align: center;
        font-size: 20px;
        color:#0e0202
}
 body{
    font-family:sans-serif;
 }

 nav{

    text-align: right;
    padding: 30px 50px 0 0;
}

        nav >a{

            color:#160303;
            font-weight: 300;
            text-decoration: none;
            margin-right: 10px;

        }

        nav >a:hover{
        
            text-decoration: underline;

        }
.floristeria{

    padding-top: 60px;
    padding-left: 0px;
    padding-right: 0px;
    width: 90%;
    max-width: 1000px;
    margin:auto;
    overflow: hidden;
}
    .contenedor-sobre-flristeria{
    display:flex;
    justify-content: space-evenly;

    }


    .nombre{

        color:#642a73;
        font-size: 30px;
        text-align: center;
        padding-bottom: 60px;
    
    }
    .floristeria .contenido-texto{
        width: 48%;
    }
    .imagen-floristeria{
        width: 55%;
        }
    .contenido-texto p{
        padding: 10px 0 60px 15px;
        font-weight: 300px;
        text-align:justify;
    }