
*{
    margin:0;
    padding:0;
    box-sizing: border-box;

} 	
 body{
    font-family:sans-serif;
 }
    
  

.contenedor{

    padding-top: 60px;
    
    padding-left: 0px;
    padding-right: 0px;
    width: 90%;
    max-width: 1000px;
    margin:auto;
    overflow: hidden;
}


.titulo{

    color:#642a73;
    font-size: 30px;
    text-align: center;
    padding-bottom: 60px;
    
}




