
*{
    margin:0;
    padding:0;
    box-sizing: border-box;

} 	
 body{
    font-family:'sans-serif;';
 }
    
  }

.contenedor{
    padding: 60px,0px;
    width: 90%;
    max-width: 1000px;
    margin : auto;
    overflow: hidden;
}

.titulo {

    color:#642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;

}

.header{

    wdith:100;
    height: 600px;
 background: #bc4e9c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

