
*{
    margin:0;
    padding:0;
    box-sizing: border-box;

} 	
 body{
    font-family:sans-serif;
 }
    
  

.contenedor{

    padding-top: 60px;
    
    padding-left: 0px;
    padding-right: 0px;
    width: 90%;
    max-width: 1000px;
    margin:auto;
    overflow: hidden;
}


.titulo{

    color:#642a73;
    font-size: 30px;
    text-align: center;
    padding-bottom: 60px;
    
}

header{

    width: 100%;
    height: 600px;
    background: #bc4e9c; 
     /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f80759, #bc4e9c); 
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(340, 95%, 50%, 0.37), hsla(317, 45%, 52%, 0.616)), url(img/portada1.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position:relative;

}

.scroll{
    height: 100px;
}

nav{

    text-align: right;
    padding: 30px 50px 0 0;
}
nav > .active{
    background: #fff;
}

nav >a{

    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;

}

nav >a:hover{
   
    text-decoration: underline;

}
.wave{
    position:absolute;
    bottom: 0;
    width: 100%;

}



header .textos-header{

    display:flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.textos-header h1{
    font-size: 50px;
    color:#fff
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.contenedor-sobre-nosotros{
    display:flex;
    justify-content: space-evenly;

}

.imagen-about-us{
    width:48%;

}

.sobre-nosotros .contenido-textos{
    width: 48%;
}


.contenido-textos p{
    padding: 10px 0 60px 15px;
    font-weight: 300px;
    text-align: justify;
}

.portafolio{
    background: #f2f2f2;

}

.galeria-port{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-port{
    width: 30%;
    height: 200px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0,0,0.5);


}

.imagen-port >img{
    width:100% ;
    height:100% ;
    object-fit: cover;
    display:block ;
}

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin:auto;
    overflow: hidden;
}
.contenedor-footer{

    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin:auto;
    padding-bottom: 50px;
    border-bottom:1px solid #ccc;
}
.content-foo{
     text-align: center;
}
.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content-foo p{
    color: #ccc;
   
}
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0 ;
    color: #9e9797 ;
}


@media screen and(max-width:900px) {
 
  header{
    background-position:center;
  }  
  .contenedor-sobre-nosotros{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sobre-nosotros .contenido-textos{
        width: 90%;
  }
  .imagen-about-us{
    width: 90%;
  }
  .imagen-port{
    width: 44%;
  }


}
@media screen and(max-width:500px) {


    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }
    nav > a {
        margin-right: 5px;
    }
    .textos-header h1{
        font-size: 35px;
    }
    .textos-header h2{
        font-size: 20px;
    }
    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }
    .sobre-nosotros  .contenido-textos{
        width: 95%;

    }
    .imagen-port{
        width: 95%;
    }
    .contenedor-footer{
        flex-direction:column ;
        border: none;
    }
    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }
    .content-foo h4{
        border: none;
    }
    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }
    .titulo-final{
        font-size: 20px;
    }

}